<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-good-table/dist/vue-good-table.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Perpustakaan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="transaksi.html">Transaksi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="history.html">History Pinjaman</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="rak-buku.html">Rak Buku</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Master
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="master/buku.html">Buku</a></li>
                            <li><a class="dropdown-item" href="master/mahasiswa.html">Mahasiswa</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="app" class="container mt-2">
        <div class="modal" id="bookModal" tabindex="-1" aria-labelledby="bookModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookModalLabel">{{ modalTitle }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="saveInventory">
                            <div class="mb-3">
                                <label for="nama_rak" class="form-label">Nama Rak:</label>
                                <input type="text" id="nama_rak" class="form-control" v-model="formData.nama_rak"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="id_buku" class="form-label">Buku:</label>
                                <select v-model="selectedBookId" class="form-select form-select-md">
                                    <option value="" disabled>Pilih Buku</option>
                                    <option v-for="book in books" :key="book.id" :value="book.id">{{ book.judul }}
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="jumlah" class="form-label">Jumlah:</label>
                                <input type="number" id="jumlah" class="form-control" v-model="formData.jumlah"
                                    required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-primary">{{ submitButtonText }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h2>List Data Rak</h2>
            <div class="mb-3">
                <input type="search" class="form-control" placeholder="Cari Rak..." v-model="inventoryFilter">
            </div>
            <vue-good-table :columns="studentColumns" :rows="filteredInventories" :paginate="true"
                :global-search="inventoryFilter" :pagination-options="{
                        enabled: true,
                        perPage: 5
                    }">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.field == 'actions'">
                        <button @click="editInventory(props.row)" class="btn btn-warning btn-sm me-1"><i
                                class="fas fa-edit"></i>
                            Edit</button>
                        <button @click="deleteInventory(props.row.id)" class="btn btn-danger btn-sm"><i
                                class="fas fa-trash-alt"></i>
                            Delete</button>
                    </span>
                    <span v-else>
                        {{props.formattedRow[props.column.field]}}
                    </span>
                </template>

                <div slot="table-actions">
                    <button @click="showAddModal" class="btn btn-primary btn-sm m-2"><i
                            class="fas fa-plus"></i>Add</button>
                </div>
            </vue-good-table>
        </div>
    </div>


    <script src="https://unpkg.com/vue-good-table/dist/vue-good-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="rak-buku.js"></script>
</body>

</html>